<h2 mat-dialog-title class="title">Login</h2>
<form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
  <mat-dialog-content class="mat-typography">
    <h3>Bem-vindo ao UserController</h3>
    <mat-form-field class="field-email">
      <mat-label>Digite seu email</mat-label>
      <input matInput placeholder="email@exemplo.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="field-password">
      <mat-label>Digite sua senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="esqueceu-senha">Esqueceu sua senha?</div>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="dialog-actions">
    <button mat-flat-button color="primary">Login</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>