.example-spacer {
    flex: 1 1 auto;
}


.mat-toolbar {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;

    max-width: 1024px;
    width: 80%;
}

@media (max-width: 600px) {
    .header-wrapper {
        width: 100%;
    }
}

.botao-login {
    margin-right: 1em;
}